*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.messages-container {
    display: grid;
    grid-template-columns: 8rem 1fr;
    gap: 0.8rem 0.2rem;
    overflow-y: scroll;
    height: calc(100vh - 5rem);
}

.message {
    display: contents;

    .message-author {
        grid-column: 1;
        text-align: right;
        padding: 0.25rem;

        .author-time {
            color: grey;
        }
    }

    .message-content {
        grid-column: 2;
        padding: 0.5rem;
        background-color: #eef;
        white-space: pre-wrap;
        box-shadow: #0002 1px 1px 4px 2px;
    }

    &.mine .message-content {
        background-color: #ffe;
    }

    &.system-message {
        font-size: small;
        font-style: italic;

        .message-author {
            padding: 0;

            .author-time {
                display: none;
            }
        }

        .message-content {
            box-shadow: none;
            background-color: transparent;
            padding: 0;
        }
    }
}

body {
    color: #222;
    font-family: sans-serif;
}

textarea {
    resize: none;
    height: 4rem;
    width: 100%;

    box-shadow: #0002 1px 1px 4px 2px;
    border: none;
    margin: 0.5rem;
    padding: 0.5rem;

    &:active,
    &:focus-visible {
        outline: none;
        box-shadow: #0882 1px 1px 4px 2px;
    }
}

.main-window {
    display: flex;

    .starboard {
        width: 20rem;
    }

    .chat-column {
        width: calc(100vw - 35rem);
    }

    .channels {
        width: 15rem;

        .channel-category {
            width: 100%;
            text-align: left;
            margin: 0;
            height: 3rem;

            &~.channel-category {
                margin-top: 0.5rem;
            }

            &:before {
                margin-right: 1rem;
                font-size: 1.2em;
                display: inline-block;
                width: 1.2rem;
                color: grey;
            }

            &.expanded:before {
                content: "▼"
            }

            &.collapsed:before {
                content: "▶"
            }

            background-color: transparent;

            &:hover {
                background-color: #ddd;
            }

            >img {
                width: 1.2rem;
                height: 1.2rem;
                vertical-align: middle;
                margin: 0.25rem 0;
            }
        }

        .channel {
            width: calc(100% - 2rem);
            margin: 0;
            margin-left: 2rem;
            text-align: left;
            height: fit-content;

            &:before {
                content: '⎿';
                margin-right: 0.7rem;
                font-size: 1.2em;
                color: grey;
            }

            background-color: transparent;

            &:hover {
                background-color: #ddd;
            }

            &.active {
                background-color: #eef;
                color: #100;
            }
        }

        button,
        input {
            width: 100%;
            margin: 0.5rem 0;
            height: 2rem;
        }
    }
}

button {
    border: none;
    color: #ddd;
    padding: 0.5rem;
    color: black;
    min-width: 8rem;
}

.message-composer {
    display: flex;
    align-items: center;
}

form {
    display: contents;
}

.starboard {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .star-author {
        color: grey;
    }
}