*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.messages-container {
    display: grid;
    grid-template-columns: 8rem 1fr;
    gap: 0.6rem 0.2rem;
    overflow-y: scroll;
    height: calc(100vh - 10rem);
}

.message {
    display: contents;

    .message-author {
        grid-column: 1;
        text-align: right;
        padding: 0.25rem;
    }

    .message-content {
        grid-column: 2;
        padding: 0.5rem;
        background-color: #eef;
        white-space: pre-wrap;
    }

    &.mine .message-content {
        background-color: #ffe;
    }

    &.system-message {
        font-size: small;
        font-style: italic;

        .message-author {
            padding: 0;
        }

        .message-content {
            background-color: transparent;
            padding: 0;
        }
    }
}

body {
    color: #222;
    font-family: sans-serif;
}

textarea {
    resize: none;
    height: 100%;
    width: calc(100vw - 9rem);
}

textarea:active,
textarea:focus-visible {
    outline: none;
}

button {
    border: none;
    color: #ddd;
    padding: 0.5rem;
    color: black;
    min-width: 8rem;
}

.message-composer {
    display: flex;
    align-items: center;
}

form {
    display: contents;
}